In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [7]:
df=DataFrame(np.arange(8).reshape(2,4),index=pd.Index(['America','China'],name='countries'),columns=pd.Index(list('ABCD'),name="attributes"))
print(df)

attributes  A  B  C  D
countries
America     0  1  2  3
China       4  5  6  7

In [8]:
stackdf=df.stack()
print(stackdf)

countries  attributes
America    A             0
           B             1
           C             2
           D             3
China      A             4
           B             5
           C             6
           D             7
dtype: int32

In [9]:
unstackdf=stackdf.unstack()
print(unstackdf)

attributes  A  B  C  D
countries
America     0  1  2  3
China       4  5  6  7

In [10]:
#unstack along column or index
df2=stackdf.unstack('countries')
print(df2)

countries   America  China
attributes
A                 0      4
B                 1      5
C                 2      6
D                 3      7

In [11]:
df3=stackdf.unstack('attributes')
print(df3)

attributes  A  B  C  D
countries
America     0  1  2  3
China       4  5  6  7

In [12]:
#stacking and unstacking series
s1=Series([5,10,15],index=list('ABC'))
print(s1)

A     5
B    10
C    15
dtype: int64

In [13]:
s2=Series([20,25,30],index=list('BCD'))
print(s2)

B    20
C    25
D    30
dtype: int64

In [14]:
s3=pd.concat([s1,s2],keys=['k1','k2'])
print(s3)

k1  A     5
    B    10
    C    15
k2  B    20
    C    25
    D    30
dtype: int64

In [17]:
df_series=s3.unstack()
print(df_series)

      A     B     C     D
k1  5.0  10.0  15.0   NaN
k2  NaN  20.0  25.0  30.0

df_series.stack()